* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

header #nav {
    margin: auto;
    padding-left: 140vh;
}

header #nav a {
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: bold;
}

#nav .ativo {
    color: black;
}

#burger {
    padding-left: 60%;
    margin: auto;
    text-align: right;
    display: none;
    cursor: pointer;
}

#bt {
    transition: .3s;
}

#rel-1, #rel-2, #rel-3 {
    background-color: gray;
    width: 35px;
    height: 5px;
    margin-bottom: 6px;
    border-radius: 2px;
    transition: .5s;
}

.active #rel-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.active #rel-2 {
    opacity: 0;
}

.active #rel-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.active #bt {
    transform: rotate(360deg);
}

main {
    padding: 4rem;
    margin: auto;
    text-align: center;
    color: gray;
}

h1, h3 {
    color: rgb(30, 30, 30);
}

p {
    font-size: .9em;
}

#container {
    padding: 40px 0 40px 25px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.row {
    margin: 15px 10px;
    background-color: #FFF;
    width: 270px;
    height: 195px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.100);
    cursor: pointer;
}

.row h3 {
    padding: 95px 0 10px 0;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.100);
}

.row:hover {
    color: #FFF;
    transition: .3s;
    transform: translateY(-5px);
    background-color: orangered;
}

.row:hover h3 {
    color: #FFF;
}

button {
    background-color: orangered;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button h3 {
    color: #FFF;
}

@media (max-width: 670px) {
    header #nav {
        display: none;
    }

    header #burger {
        display: inline;
    }

    #container {
        display: block;
    }

    .row {
        width: 100%;
    }
}